@model List<capaEntidad.LaboratorioCLS>

<h2>Búsqueda</h2>
<form class="row g-3" id="formBusqueda">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Nombre</label>
        <input type="text" name="Nombre" class="form-control" id="nombre" value="">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Dirección</label>
        <input type="text" name="Direccion" class="form-control" id="direccion" value="">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Persona Contacto</label>
        <input type="text" name="PersonaContacto" class="form-control" id="personaContacto" value="">
    </div>
    <div class="col-md-3">
        <button class="btn btn-outline-secondary" type="button" onclick="buscarLaboratorio()" id="buttonBuscar">Buscar</button>
        <button class="btn btn-outline-info" type="button" onclick="limpiarLaboratorio()">Limpiar</button>
    </div>
</form>
<div id="divtabla">
</div>

<hr />

<h2>Listado de Laboratorios</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Persona contacto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sucursal in Model)
        {
            <tr>
                <td>@sucursal.IdLaboratorio</td>
                <td>@sucursal.Nombre</td>
                <td>@sucursal.Direccion</td>
                <td>@sucursal.PersonaContacto</td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/generic.js"></script>
<script src="~/js/laboratorio.js"></script>
